[Desktop Entry]
Type=Application
Name=Input Leap Client
Comment=Automatically connect Raspberry Pi to Input Leap server
Exec=/home/jer/bin/start-input-leap.sh
Terminal=false
X-GNOME-Autostart-enabled=true
